*{ /*resets settings*/
    box-sizing: border-box; /*makes sure boxes are not changes by padding*/
    margin: 0;
    padding: 0;

}

/*creates variables*/
:root {
    --bg-color: #02324F;
    --light: #DBE5E6;
    --grey-color: #4C596B;
}

body {
    font-family: 'Zain', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--bg-color);
    overflow-x: hidden;
    color: var(--light);
}

a {
    text-decoration: none; /*removes underline*/
    color: var(--light);
}

ul { /*unordered lists*/
    list-style: none; /*removes bullets*/
}

img {
    max-width: 100%; /* prevents imgs from breaking out of divs*/
}

/* NAVBAR */
.navbar {
    padding: 15px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container img{
    width: 5%;
    margin: 10px 0;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 15px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--grey-color);
}

/*Background */
.vanta-bg {
        max-width: 1800px;
        height: 900px; /* Example: Full viewport height */
}

/* HERO */

.hero .container-wide {
    position: relative;
    height: 900px;
}

.hero .container-wide .hero-content{
    position: absolute; /* Takes the element out of the normal flow */
    justify-content: center;
    top: 0; /* Adjust as needed for specific placement */
    left: 0; /* Adjust as needed for specific placement */
    width: 100%; /* Or specific width */
    height: 100%; /* Or specific height */
    z-index: 2; /* Higher z-index brings it forward */
}

.hero .container-wide .vanta-bg {
    z-index: 1;
    max-height: 900px;
}

.hero img{
    display: block;
    justify-self: center;
    align-items: center;
    max-width: 25%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 80px;
}

.hero .links ul{
    display: flex;
    justify-content: center;
}

/* Filter */


.filter .types {
    display: flex;
    margin-bottom: 10px;
}

.filter .type{
    background: var(--light);
    color: var(--bg-color);
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
}

.filter .active{
    background: var(--grey-color);
    color: var(--light);
}

/* Projects */
/*Project filter control*/

.project .card {
    display: flex;
    background-color: var(--grey-color);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 20px 0px 20px;
}

.project a {
    flex-grow: 1;
}

.project .project-text .project-heading {
    margin-top: 20px;
    justify-self: center;
}

.project p {
    margin-bottom: 15px;
}

.project .project-text ul li {
    list-style-type: disc;
    margin-left: 25px;
    text-decoration: underline;
}

.project .card .active{
    display: none;
}

.project .card .tags {
    margin-top: 60px;
    display: flex;
    padding: 10px;
}

.project .card .tags ul{
    display: flex;
}

.project .card .tags li{
    list-style-type: none;
    margin-left: 25px;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    background: var(--light);
    color: var(--bg-color);
    border-radius: 10px;
    padding: 5px 10px;
}


/* ABOUT ME */
.about-me .container {
    display: flex;
    gap: 50px;
    padding: 0 0 30px 30px;
}

.about-me .intro-content {
    margin-top: 140px;
    max-width: 50%;
}

/* HAMBURGER BUTTON */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /*high num brings to front*/
}

.hamburger-button .hamburger-line{
    width: 30px;
    height: 3px;
    background: var(--light);
    margin: 6px 0;
}

/* MOBILE MENUE */
.mobile-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: var(--grey-color);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3 s ease-in-out;
}

.mobile-menu.active{
    right: 0;
}

.mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;

}

.mobile-menu ul li{
    margin: 10p 0;
    padding-left: 10px;
}

.mobile-menu ul li a{
    font-size: 20px;
    transition: 0.3s
}



/* UTILITY CLASSES*/

.container {
    max-width: 1100px;
    margin: 0 auto; /*first num is top-bottom, second is for left-right*/
    padding: 0 15px;
}


/* TEXT */

.text-bold{
    font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 900px){

    .navbar .container h1{
        font-size: 18px;
    }


    /* Changes navbar to hamburger menu */
    .navbar .main-menu{
        display: none
    }

    .navbar .hamburger-button{
        display: block;
    }

    /* Adjusts homepage*/

    .hero .hero-content img{
        max-width: 40%;
    }

    /* Adjusts project layout */
    .project .card {
        flex-direction: column;
    }

    .project img {
        max-width: 90%;
        padding-left: 15%; /* trying to center it */
    }

    .project .project-text{
        padding-bottom: 20px;

    }
    .project .project-text .project-heading{
        margin-top: 0px;
        justify-self: center;
    }

    /* Adjusts All About Me section */
    .about-me .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-me .intro-content {
    margin-top: 0px;
    max-width: 90%;
    }
}

@media (max-width: 500px){

    .navbar .container h1{
        font-size: 18px;
    }

    /* Changes navbar to hamburger menu */
    .navbar .main-menu{
        display: none
    }

    .navbar .hamburger-button{
        display: block;
    }

    .hamburger-button .hamburger-line{
        width: 20px;
        margin: 4px 0;
    }

    /* Adjusts home page */
    .hero .hero-content{
        align-content: baseline;
        padding:0;
    }

    .hero .hero-content img{
        max-width: 50%;
    }

    .hero .hero-content .links{
        font-size: 13px;
    }

    /* Adjusts project layout */
    .project .card {
        flex-direction: column;
    }

    .project img {
        max-width: 90%;
        padding-left: 15%; /* trying to center it */
    }

    .project .project-text{
        padding-bottom: 20px;

    }
    .project .project-text .project-heading{
        margin-top: 0px;
        justify-self: center;
    }

    /* Adjusts All About Me section */
    .about-me .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-me .intro-content {
    margin-top: 0px;
    max-width: 90%;
    }
}

@media (max-width: 300px){

    .navbar .container{
        padding-left: 0px;
    }

    .navbar .container h1{
        font-size: 12px;
        margin-right: 30px;
    }

    /* Changes navbar to hamburger menu */
    .navbar .main-menu{
        display: none;
    }

    .navbar .hamburger-button{
        display: block;
    }

    .hamburger-button .hamburger-line{
        width: 20px;
        margin: 4px 0;
    }

    /* Adjusts home page */
    .hero .hero-content{
        align-content: baseline;
        padding:0;
    }

    .hero .hero-content img{
        max-width: 60%;
    }

    .hero .hero-content .links{
        font-size: 10px;
    }

    /* Adjusts project layout */
    .project .card {
        flex-direction: column;
    }

    .project img {
        max-width: 90%;
        padding-left: 15%; /* trying to center it */
    }

    .project .project-text{
        padding-bottom: 20px;

    }
    .project .project-text .project-heading{
        margin-top: 0px;
        justify-self: center;
    }

    /* Adjusts All About Me section */
    .about-me .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .about-me .intro-content {
    margin-top: 0px;
    max-width: 90%;
    }
}